
.vs/R5R Dedicated Servers Eye/v17/.suo
.vs/R5R Dedicated Servers Eye/project-colors.json
.vs/R5R Dedicated Servers Eye/v17/.suo
.vs/R5R Dedicated Servers Eye/v17/.suo
ConsoleApp1/bin/Debug/Microsoft.IO.Redist.dll
ConsoleApp1/bin/Debug/R5RDedicatedWatcher.exe
ConsoleApp1/bin/Debug/R5RDedicatedWatcher.exe.config
ConsoleApp1/bin/Debug/R5RDedicatedWatcher.pdb
ConsoleApp1/bin/Debug/System.Memory.dll
ConsoleApp1/obj/Debug/R5R Dedicated Servers Eye.csproj.AssemblyReference.cache
ConsoleApp1/obj/Debug/R5R Dedicated Servers Eye.csproj.CopyComplete
ConsoleApp1/obj/Debug/R5R Dedicated Servers Eye.csproj.CoreCompileInputs.cache
ConsoleApp1/obj/Debug/R5R Dedicated Servers Eye.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/R5R Dedicated Servers Eye.csproj.SuggestedBindingRedirects.cache
ConsoleApp1/obj/Debug/R5RDedicatedWatcher.exe
ConsoleApp1/obj/Debug/R5RDedicatedWatcher.pdb
ConsoleApp1/obj/Release/R5RDedicatedWatcher.pdb
ConsoleApp1/obj/Release/R5RDedicatedWatcher.exe
ConsoleApp1/obj/Release/R5R Dedicated Servers Eye.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/R5R Dedicated Servers Eye.csproj.AssemblyReference.cache
ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/obj/Debug/R5R Dedicated Servers Eye.csproj.AssemblyReference.cache
ConsoleApp1/obj/Release/R5R Dedicated Servers Eye.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Release/R5RDedicatedWatcher.exe
ConsoleApp1/obj/Release/R5RDedicatedWatcher.pdb
